@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

#section {
    position: relative;
    z-index: 10;
}

.searchBar_ {
    position: absolute;
    top: 15px;
    left: 36%;
    display: flex;
}

.searchBar_ input {
    padding: 9px 300px 9px 13px;
    border-radius: 7px;
    border: 1px solid;
    border-color: white;
    opacity: .8;
    background-color: #4D79D7;
    color: white;
}

.searchBar_ input:focus {
  outline: none;
}

::placeholder {
    color: white;
    font-family: 'Muli';
    font-size: 14px;
    opacity: .7;
}

.searchBarIcon_ {
    position: absolute;
    right: 10px;
    top: 5px;
    color: white;
    opacity: .8;
}

#x {
    cursor: pointer;
}

.searchResult {
    position:  absolute;
    top: 51px;
    left: 36%;
    width: 25.5%;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    background-color: white;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.elements {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 60%;
}

.elements li {
    margin-bottom: 10px;
    border-bottom: 1px solid #4D79D7;
    padding: 15px 20px 15px 22px;
    width: 152%;
}

.name {
    text-decoration: none;
    color: #1B2437;
    font-family: 'Muli';
    font-size: 15px;
    font-weight: bold;
}

@media screen and (max-width: 1650px) and (min-width: 1381px) {
    .searchBar_ {
        left: 36%;
    }

    .searchBar_ input {
        width: 120px;
    }
}

@media screen and (max-width: 1381px) and (min-width: 150px) {
    #section {
        display: none;
    }
}
